body , html {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

div.parallax-container {
  height: 750px ;
}

#home > div.parallax-container {
  height: 550px;
}

#contacto {
  display: none;
}

.imagen-home, .img-skills {
  width: 100%;
  opacity: .5;
  background-size: cover;
}

.text-nombre {
  margin-top: 10%;
  font-family: Merriweather Sans;
  font-size: 1em;
  color: #fff;
  text-shadow: .2em .2em black;
}

#aboutMe , #proyectos{
  padding: 4%;
  background-color: #fff;
}

.acercaDeMi {
  background-color: rgba(231, 231, 231, 0.53);
  font-size: 1em;
}

.btn {
  margin-bottom: 5%;
}

.container>.row.estadisticas {
  margin-left: 1%;
}

.estadisticas {
  margin: 15% 5%;
  background-color: rgba(0, 0, 0, 0.73);
  width: 100%;
  color: #fff;
  z-index: 2;
  padding: 5%;
}

div.skill {
  padding: 5%;
}

.skill>img.icono {
  min-width: 0%;
  min-height: 0;
  position: relative;
  width: 10%;
  display: inline;
  left: 5%;
}

.skill > div.progress {
  height: 15px;
}

div.col.card-pad {
  padding: 2%;
}

.proyectos {
  margin-top: 5%;
}

.card>div.modal {
  width: 60%;
  max-height: 100%;
}

.img-modal {
  width: 100%;
}

footer {
  background-color: #B1DEDA;
  height: 50px;
  font-size: 1em;
  padding: .5%;
  margin-top: -2%;
  color: #fff;
}



@media (min-width: 1024px) {

  #aboutMe {
    top: 5%;
  }


}

@media only screen and (min-width:768px) and (max-width: 1023px){

  #home > .parallax-container {
    height: 750px !important;
  }
  div.parallax-container {
    height: 600px ;
  }

  .text-nombre {
    margin-top: 5%;
  }

  #aboutMe {
    background-color: transparent;
    position: absolute;
    top: 30%;
  }
  .acercaDeMi {
    background-color: rgba(231, 231, 231, 0.53);
    font-size: 1em;
  }

  .estadisticas {
    margin-top: 15%;
    width: 100%;
  }

  div.skill {
    padding: 0;
  }

  .skill > div.progress {
    height: 10px;
  }

  .skill>img.icono {
    width: 15%;
  }
}

@media only screen and  (max-width: 767px) {

  #home> div.parallax-container {
    height: 500px;
  }

  div.parallax-container {
    height: 650px;
  }

  #contacto {
    display: block;
    background-color: #009587;
    padding: 5% 0;
  }

  .text-nombre {
    margin-top: 35%;
  }
  .nombre {
    font-size: 3em;
  }
  .btn {
    width: 60%;
  }
  .cont-skill {
    font-size: 2em;
  }
  .estadisticas {
    width: 100%;
  }

  div.skill {
    padding: 0;
  }

  .skill > div.progress {
    height: 10px;
  }

  .skill>img.icono {
    width: 15%;
  }

  .skill>img.icono.icono-sm {
    width: 12%;
  }

  .card>div.modal {
    width: 100%;
    max-height: 100%;
  }

  .btn-social {
    margin-left: 8%;
  }
}
